<%= form_for(Comment.new) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new comment..." %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>

    <%= f.hidden_field :commentable_type, value: commentable_type %>
    <%= f.hidden_field :commentable_id, value: commentable_id %>
    <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>

