<li>
  <b><%= comment.user.name %><br></b>
  "<%= comment.content %>"<br>
  <h6>Posted <%= time_ago_in_words(comment.created_at) %> ago.</h6>
  <%= link_to "Reply", comment_path(comment.id) %>
</li>
<ul>
  <% comment.comments.each do |c| %>
    <%= render c %>
  <% end %>
</ul>