<%= form_for([@project, @task]) do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>

  <div class="field">
    <!--    <%#= f.label :status %><br>-->
    <%#= f.text_field :status %>
    <%= f.radio_button :status, :open %>
    <%= f.label :status, "Open" %>
    <%= f.radio_button :status, :in_progress %>
    <%= f.label :status, "In progress" %>
    <%= f.radio_button :status, :done %>
    <%= f.label :status, "Done" %>
  </div>

  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.date_select :due_date %>
  </div>

  <div class="field">
    <%= f.label :estimation %><br>
    <%= f.number_field :estimation %>
  </div>

  <div class="field">
    <br>
    <%= f.hidden_field :project_id, value: @project.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

  <!--  content: string, status: string, start_date: datetime, due_date: datetime, estimation: integer project_id: integer, user_id: integer-->

  <div class="actions">
    <%= f.submit "#{ @task.new_record? ? 'Create' : 'Edit'}" %>
  </div>
<% end %>