  <div class="task">
    <li><h4>Id task: <strong><%= @task.id %></strong></h4></li>
    <li><h4>Task title: <strong><%= @task.title %></strong></h4></li>
    <li><h4>Task content: <strong><%= @task.content %></strong></h4></li>
    <li><h4>Task status: <strong><%= @task.status %></strong></h4></li>
    <li><h4>Start date: <strong><%= @task.start_date %></strong></h4></li>
    <li><h4>Period of execution: <strong><%= @task.due_date %></strong></h4></li>
    <li><h4>Estimation: <strong><%= @task.estimation %> hours</strong></h4></li>
  </div>