<h3>All your tasks: </h3>
<!--<h4><%#= @tasks.inspect %></h4>-->
<% @tasks.each do |t| %>
  <li><h4>Id task: <strong><%= t.id %></strong></h4></li>
  <li><h4>Task title: <strong><%= t.title %></strong></h4></li>
  <li><h4>Task content: <strong><%= t.content %></strong></h4></li>
  <li><h4>Task status: <strong><%= t.status %></strong></h4></li>
  <li><h4>Start date: <strong><%= t.start_date %></strong></h4></li>
  <li><h4>Period of execution: <strong><%= t.due_date %></strong></h4></li>
  <li><h4>Estimation: <strong><%= t.estimation %> hours</strong></h4></li>
  -----------------------------------------------------------------------------
<% end %>
<br>
<p><%= paginate @tasks_pagin %></p>
<%#= will_paginate @tasks %>