<h3>
  <% @tasks.each do |t| %>
    <li><h6>Id task: <strong><%= t.id %></strong></h6></li>
    <li><h6>Task title: <strong><%= t.title %></strong></h6></li>
    <li><h6>Status: <strong><%= t.status %></strong></h6></li>
    </h3>
    <h6><%= link_to 'More details', project_task_path(@project, t.id) %> </h6>
    <p>---------</p>
  <% end %>
  <h5><%= link_to 'New task', new_project_task_path(@project) %></h5>
  <h5><%= link_to 'Back', project_path(@project) %></h5>
  <p><%= paginate @tasks %></p>