<%= render 'task' %>
<% if can? :edit, @task %>
  <h5><%= link_to 'Edit', edit_project_task_path(@task.project_id) %></h5>
<% end %>
<% if can? :delete, @task %>
  <h5><%= link_to 'Delete', [@project, @task], :method => :delete, data: { :confirm => "You sure?" }, :title => "Delete" %></h5>
<% end %>
<p>---------</p>
<h5><%= link_to 'New task', new_project_task_path(@project) %></h5>
<h5><%= link_to 'Back', project_tasks_path(@project) %></h5>
<p>---------</p>
<h4>Comments:</h4>
<ul>
  <%= render @comments %>
  <p><%= paginate @comments %></p>
</ul>
<%= render "comments/comment_form", commentable_type: "Task", commentable_id: @task.id %>