<%= form_for(@project) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_field :summary %>
  </div>

  <div class="field">
  <%= f.label :start_date %><br>
  <%= f.date_select :start_date %>
  </div>

  <div class="field">
  <%= f.label :end_date %><br>
  <%= f.date_select :end_date %>
  </div>

  <div class="field">
    <br>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

<!--  summary: string, start_date: datetime, end_date: datetime-->

  <div class="actions">
    <%= f.submit "#{ @project.new_record? ? 'Create' : 'Edit'}" %>
  </div>
<% end %>