<h4>Name of project: <strong><%= @project.name %></strong></h4>
<h4>ID: <strong><%= @project.id %></strong></h4>
<h4>Summary: <strong><%= @project.summary %></strong></h4>
<h4>Start date: <strong><%= @project.start_date %></strong></h4>
<h4>End date: <strong><%= @project.end_date %></strong></h4>
<% if can? :edit, @project %>
  <h5><%= link_to 'Edit', edit_project_path(@project.id) %></h5>
<% end %>
<% if can? :delete, @project %>
  <h5><%= link_to 'Delete', @project, :method => :delete, data: { :confirm => "You sure?" },
                  :title => "Delete #{@project.name}" %></h5>
<% end %>
-----------------------------------------------------------------------------
<h4>Number of tasks: <strong><%= @project.tasks.length %></strong></h4>
<h5><%= link_to 'Task management', project_tasks_path(@project) %></h5>
<h5><%= link_to 'New task', new_project_task_path(@project) %></h5>
<h5><%= link_to 'Back', projects_path %></h5>
-----------------------------------------------------------------------------
<h3>Comments</h3>
<ul>
  <%= render @comments %>
  <p><%= paginate @comments %></p>
</ul>
<%= render "comments/comment_form", commentable_type: "Project", commentable_id: @project.id %>