<h4>Name of project: <strong><%= @project.name %></strong></h4>
<h4>ID: <strong><%= @project.id %></strong></h4>
<h4>Summary: <strong><%= @project.summary %></strong></h4>
<h4>Start date: <strong><%= @project.start_date %></strong></h4>
<h4>End date: <strong><%= @project.end_date %></strong></h4>
--------------------------------------------------------------
<h5><%= link_to 'Tasks of this project', [@project, @task] %></h5>

